---
layout: base.njk
titre: Accueil
---
<h1>Bienvenue sur CRIMIWORLD</h1>
<ul class="liste-fiches">
  <li><a href="{{ '/Tueurs/' | url }}">Tueurs</a></li>
  <li><a href="{{ '/Mafieux/' | url }}">Mafieux</a></li>
  <li><a href="{{ '/Escrocs/' | url }}">Escrocs</a></li>
  <li><a href="{{ '/Pedophiles/' | url }}">Pedophiles</a></li>
</ul>